.alternance_work {
  color: $purple;
  font-size: 1.5em;
  margin: auto;
  width: 80%;
  padding-top: 25%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  &_title {
    font-size: 3em !important;
  }
}

.logo_alternance_em {
  position: absolute;
  width: 200px;
  top: 25%;
  left: 30%;
}

.work_4:link {
  width: 500px !important;
  height: 300px !important;
  background: no-repeat center/100% image-url('midas_3.png');
}

.work_4:selected {
  width: 500px !important;
  height: 300px !important;
  background: no-repeat center/100% image-url('midas_3.png');
}

.work_4:hover {
  width: 500px !important;
  height: 300px !important;
  background: no-repeat center/100% image-url('midas_3_h.png');
}

.work_4:active {
  width: 500px !important;
  height: 300px !important;
  background: no-repeat center/100% image-url('midas_3.png');
}

.work_5:link {
  width: 500px !important;
  height: 300px !important;
  background: no-repeat center/100% image-url('midas_2.png');
}

.work_5:selected {
  width: 500px !important;
  height: 300px !important;
  background: no-repeat center/100% image-url('midas_2.png');
}

.work_5:hover {
  width: 500px !important;
  height: 300px !important;
  background: no-repeat center/100% image-url('midas_2_h.png');
}

.work_5:active {
  width: 500px !important;
  height: 300px !important;
  background: no-repeat center/100% image-url('midas_2.png');
}

.work_6:link {
  width: 500px !important;
  height: 300px !important;
  background: no-repeat center/100% image-url('midas_1.png');
}

.work_6:selected {
  width: 500px !important;
  height: 300px !important;
  background: no-repeat center/100% image-url('midas_1.png');
}

.work_6:hover {
  width: 500px !important;
  height: 300px !important;
  background: no-repeat center/100% image-url('midas_1_h.png');
}

.work_6:active {
  width: 500px !important;
  height: 300px !important;
  background: no-repeat center/100% image-url('midas_1.png');
}
