
.work_7:link {
  width: 500px !important;
  height: 300px !important;
  background: no-repeat center/100% image-url('ecotiz_1.png');
}

.work_7:selected {
  width: 500px !important;
  height: 300px !important;
  background: no-repeat center/100% image-url('ecotiz_1.png');
}

.work_7:hover {
  width: 500px !important;
  height: 300px !important;
  background: no-repeat center/100% image-url('ecotiz_1_h.png');
}

.work_7:active {
  width: 500px !important;
  height: 300px !important;
  background: no-repeat center/100% image-url('ecotiz_1.png');
}

.work_8:link {
  width: 500px !important;
  height: 300px !important;
  background: no-repeat center/100% image-url('ecotiz_2.png');
}

.work_8:selected {
  width: 500px !important;
  height: 300px !important;
  background: no-repeat center/100% image-url('ecotiz_2.png');
}

.work_8:hover {
  width: 500px !important;
  height: 300px !important;
  background: no-repeat center/100% image-url('ecotiz_2_h.png');
}

.work_8:active {
  width: 500px !important;
  height: 300px !important;
  background: no-repeat center/100% image-url('ecotiz_2.png');
}
